.eu-router {
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

.eu-fullscreen-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}
.eu-drop-shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}
.eu-paper {
    background-color: white;
    padding: .5em;
    box-sizing: border-box;
    overflow-y: auto;
}
.eu-paper, .eu-table-scroller {
    height: calc(100% - 3em);
}

.eu-title {
    margin: 0;
    padding: .4em .2em;
    font-size: 1.5em;
}

.eu-router-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3em;
    width: 100%;

    display: flex;
    flex-direction: row;
    background-color: #f7f7f7;
    place-items: center;
}
.eu-router-panel .eu-pill {
    flex: 1 1 0;
    margin: 0 .25em;
    line-height: 1.75em;
}

.eu-pill {
    margin: .15em;
    display: flex;
    flex-direction: row;

    --radius-left: .5em;
    --radius-right: .5em;

    border-radius: var(--radius-left) var(--radius-right) var(--radius-right) var(--radius-left); /* so box-shadow works fine */
}
.eu-pill>* {
    flex: 1 1 4em;
}
.eu-pill-item {
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    padding: .2em 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.eu-pill-item:first-child {
    border-top-left-radius: var(--radius-left);
    border-bottom-left-radius: var(--radius-left);
}
.eu-pill-item:last-child {
    border-top-right-radius: var(--radius-right);
    border-bottom-right-radius: var(--radius-right);
    border-right: 1px solid black;
}

.eu-router-panel .eu-pill-item-about {
    flex: 1 1 2em;
}
.eu-router-panel .eu-pill-item-selected {
    background-color: black;
    color: white;
}

.eu-alert-banner {
    position: fixed;
    bottom: 3em;
    left: 0;
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    background-color: yellow;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    z-index: 51100;
}