.eu-qrcode-widget-frame {
    text-align: center;
}

.eu-qrcode-table {
    width: 300px;
    margin: auto;
    text-align: left;
}

.eu-paper-pku {
    background-color: #f2f2f2 !important;
    overflow-y: hidden !important; /* qrcode cannot scroll anyway */
}

.eu-title-pku {
    color: #8c0000;
}

.eu-title a {
    cursor: pointer;
}

.eu-title-pku small {
    font-size: .6em;
    font-weight: normal;
    color: #8c0000 !important;
    opacity: .8;
}

.eu-qrcode-img {
    width: 330px;
    height: 330px;
    margin: 1.5em auto;
    dynamic-range-limit: no-limit;
    box-sizing: content-box;
}

.eu-qrcode-hdr {
    position: absolute;
    height: 1px;
}

.eu-qrcode-bg {
    position: absolute;
    display: block;
    height: 330px;
    width: 330px;
}

.eu-qrcode-img canvas {
    position: absolute;
    display: block;
    width: 330px;
    height: 330px;
}

.eu-qrcode-widget-frame button {
    font-size: 1.25em;
    min-width: 6em;
    background-color: #8c0000;
    color: white;
    border-radius: 4px;
    line-height: 2em;
    border: unset;
}