.eu-shuttle-detail {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 600px;
    transform: translateX(-50%);
    z-index: 52000;
    max-height: calc(100% - 8em);
    overflow-y: auto;
    background-color: white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
}

.eu-shuttle-detail>h1 {
    text-align: center;
    margin-bottom: .7em;
}

.eu-shuttle-detail-row {
    display: flex;
    flex-direction: row;
    place-items: center;
    margin-bottom: 1.5em;
}

.eu-shuttle-detail-name {
    flex: 1 1 0;
    padding-right: .5em;
}
.eu-shuttle-detail-action {
    flex: 0 0 7.5em;
    text-align: center;
    height: 3.5em;
    border-radius: 1.75em;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.eu-shuttle-detail-action-title {
    line-height: 2em;
    font-size: 1.25em;
}
.eu-shuttle-detail-action-desc {
    line-height: 1em;
    font-size: .85em;
    margin-top: -.25em;
}

.eu-shuttle-detail-action-primary {
    background-color: darkblue;
    color: white;
}
.eu-shuttle-detail-action-danger {
    background-color: darkred;
    color: white;
}
.eu-shuttle-detail-action-disabled {
    background-color: lightgray;
    color: black;
    outline: 1px solid #777;
}
.eu-shuttle-detail-action-default {
    background-color: lightyellow;
    color: black;
    outline: 1px solid black;
}