.eu-table {
    border-spacing: 0;
    table-layout: fixed;
}
.eu-table-scroller {
    max-width: 100%;
    overflow-x: auto;
    overscroll-behavior: contain;
    background-color: #eee;
}

.eu-table-header,
.eu-table-body {
    width: min-content;
    white-space: nowrap;
}

.eu-table-header>*,
.eu-table-body>* {
    display: inline-block;
}

.eu-table-header {
    position: sticky;
    top: 0;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    font-weight: bold;
    z-index: 40002;
    background-color: #f7f7f7;
}

.eu-table-highlighted {
    background-color: #ffffaa !important;
}

.eu-table-series-addon-left {
    float: left;
}
.eu-table-series-addon-right {
    float: right;
}
.eu-table-series-addon-left,
.eu-table-series-addon-right {
    color: #ccc;
}

.eu-table-series {
    padding: 0 14px;
}
.eu-table-timeline {
    width: 2px;
    margin-left: 1px;
    background-color: #ddd;
}

.eu-table-timecell {
    width: 45px;
    text-align: center;
    font-weight: bold;
}

.eu-table-body>:first-child {
    background-color: rgba(236, 236, 236, .6);
    pointer-events: none;
    backdrop-filter: blur(1px) contrast(30%) brightness(150%) saturate(50%);
    position: sticky;
    left: 0;
    z-index: 40001;
}

.eu-table-body .eu-pill {
    margin: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.eu-table-canvas {
    position: relative;
}
.eu-table-canvas-item {
    position: absolute;
}

.eu-table-body .eu-table-series:hover {
    background-color: #f7f7f7;
}

.eu-table-body .eu-pill-itemtitle {
    font-size: 1em;
    line-height: 20px;
}
.eu-table-body .eu-pill-itemdesc {
    font-size: .85em;
    line-height: 20px;
    margin-top: -.4em;
}

.eu-table-legend {
    position: sticky;
    left: 0;
    display: flex;
    flex-direction: row;
    place-items: baseline;
    margin: 2em 0 3em 0;
    color: #555;
}

.eu-legend-box {
    display: inline-block;
    width: .7em;
    height: .7em;
    border-radius: 50%;
    box-shadow: 0 0 1px black, 0 0 2px black;
    margin: 0 .25em 0 1em;
}

.eu-color-picked {
    background-color: darkblue;
    color: white;
}
.eu-color-available {
    background-color: white;
    color: black;
}
.eu-color-full {
    background-color: lightpink;
    color: black;
}
.eu-color-disabled {
    background-color: #e4e4e4;
    color: black;
}
.eu-color-empty {
    background-color: #e4e4e4;
}
.eu-color-detail {
    background-color: black;
    color: white;
}

.eu-table-body .eu-pill .eu-color-empty {
    cursor: not-allowed;
}