#eu-root {
    display: block !important;
    position: fixed;
    z-index: 50000;
}
#eu-root.eu-open {
    bottom: 0;
    left: 0;
    height: 100%;
    max-height: 1100px;
    width: 100%;
}

#eu-root * {
    word-wrap: break-word;
}

#eu-root a {
    color: #00c;
    text-decoration: none;
}
#eu-root a:hover {
    border-bottom: 1px solid #00c;
    margin-bottom: -1px;
}

.eu-width-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.eu-error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: yellow;
    padding: .5em;
    box-sizing: border-box;
}

.eu-error pre {
    white-space: pre-wrap;
    font-size: .85em;
}